<!DOCTYPE html>
<html>
    {% include 'header.html' %}
    <body>
        <div class="container">
            <h5>Here is the current information for {{brand.getName }}:</h5>
            <ul>
                <li><span class="underline-class">Name</span>: {{brand.getName }}</li>
            </ul>
        </div>

    </body>

    {% include 'footer.html' %}
</html>
