<!DOCTYPE html>
<html>
    {% include 'header.html' %}
    <body>
        <div class="container">
            <h4><a href="/brands">Access Brands</a></h4>
            <h4><a href="/stores">Access Stores</a></h4>
        </div>
    </body>
    {% include 'footer.html' %}
</html>
